h1 {
  text-align: center;
  color: white;
}

html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

#green {
  color: green;
}

#yellow {
  color: yellow;
}

#blue {
  color: blue;
}